# Ignore = IGN

# IGN .ionide as it is not part of project
.ionide

# IGN httpcache as the folder has a huge amount of small files
.scrapy

# IGN .ipynb_checkpoints-files as they can be local
.ipynb_checkpoints

# IGN .csv files as they can be large [other files allowed]
Appendix/Data_git_ignore/*
# KEEP FakeNewsCorpus_250.csv as it is useful for debug
!Appendix/Data_git_ignore/FakeNewsCorpus_250.csv

# Keep folder that might be empty
!.gitkeep